
.header {
  height: 200px;
  width: 100%;
  background-color: azure;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.footer {
  display: flex;
  justify-content: space-between;
  
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.all-agenda {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 15px;
  
}

.download-table-xls-button {
  background-color:white ;
  border: 1px solid orange;
  border-radius: 6px;
  height: 40px;
  
}

.download-table-xls-button:hover {
  background-color: orange;
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
}