
.header {
  height: 200px;
  width: 100%;
  background-color: azure;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.agenda-container {
  display: flex;
  padding: 10px;
  align-content: center;
  justify-content: left;
}

.footer {
  display: flex;
  justify-content: space-between;
  
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
